<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
    <form id="chat-form">
        <label for="sender">Select Sender:</label>
        <select id="sender" name="sender">
            <!-- Options for selecting sender -->
            {% for user in all_users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message">
        <button type="submit">Send</button>
    </form>
    <div id="messages">
        <!-- Display received messages here -->
    </div>
	<script>
    let url = `ws://${window.location.host}/ws/socket-server/` 
	const chatSocket = new WebSocket(url);
	chatSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
	};
	chatSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};
	document.getElementById("chat-form").addEventListener("submit", function(event) {
            event.preventDefault();
            const sender = document.getElementById("sender").value;
            const message = document.getElementById("message").value;
            chatSocket.send(JSON.stringify({ message: message, receiver_id: sender }));
            document.getElementById("message").value = "";
        });
		debugger;
        chatSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const messageElement = document.createElement("div");
            messageElement.textContent = `Sender: ${data.sender_id}, Message: ${data.message}`;
            document.getElementById("messages").appendChild(messageElement)
        };

	</script>
</body>
</html>


